:root {
  --textColor1: rgb(195, 0, 255);
  --textColor2: rgb(0, 255, 30);
  --textColor3: rgb(0, 204, 255);
  --textColor4: rgb(217, 0, 255);
}

body{
  overflow: hidden;
  font-family: "Consolas";
  background: rgb(10, 1, 15);
  user-select: none;
  margin: 0px;
  padding: 0px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.mainText{
  width: max-content;
  font-size: 220px;
  text-align: center;
}
.subText{
  text-align: center;
  margin-left: -20px;
  font-size: 65px;
}

.glitch {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 var(--textColor3), -0.03em -0.04em 0 var(--textColor1),
    0.025em 0.04em 0 var(--textColor2);
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--textColor3), -0.03em -0.04em 0 var(--textColor1),
      0.025em 0.04em 0 var(--textColor2), 
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
      
  }
  15% {
    text-shadow: 0.05em 0 0 var(--textColor3), -0.03em -0.04em 0 var(--textColor1),
      0.025em 0.04em 0 var(--textColor2), 
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
      
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--textColor3), 0.025em 0.035em 0 var(--textColor1),
      -0.05em -0.05em 0 var(--textColor2), 
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);

  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--textColor3), 0.025em 0.035em 0 var(--textColor1),
      -0.05em -0.05em 0 var(--textColor2), 
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
      
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--textColor3), 0.03em 0 0 var(--textColor1),
      0 -0.04em 0 var(--textColor2),
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
      
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--textColor3), 0.03em 0 0 var(--textColor1),
      0 -0.04em 0 var(--textColor2),
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--textColor3), -0.025em -0.04em 0 var(--textColor1),
      -0.04em -0.025em 0 var(--textColor2), 
      0px 0px 30px var(--textColor4), 0px 0px 60px var(--textColor4);
  }
}